page-update-job {
    .jobimage {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: 3px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}